/* Colours */
:root {
    --md-accent-fg-color: #ef5552;
    --md-primary-fg-color: #ef5552;
    --md-primary-fg-color--dark: #16171d;
}

:root>* {
    --md-footer-bg-color: #ef5552;
    --md-footer-bg-color--dark: #16171d;
}	

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title {
        background-color: #ef5552 !important;
        border-bottom: 1px solid #ef5552 !important;
        color: rgb(255, 255, 255) !important;
    }

    .md-nav--primary .md-nav__title a:hover {
        color: #ef5552;
    }
}

/* Announcement */

.md-banner {
    background-color: #1d1e26;
}

.md-banner a {
    color: #fff;
}

/* Header */

.md-header {
    background-color: #ef5552;
    color: rgb(255, 255, 255);
}

.md-header a:is(:focus,:hover) {
    color: #fff;
}

.md-ellipsis{
    margin-left:-22.5px;
}

/* Primary navigation */

.md-tabs {
    background-color: #ef5552;
    color: rgb(255, 255, 255);
}

.md-tabs a:is(:focus,:hover) {
    color: #fff;
}

/* Images: Reduce max width to 95% of container width */
.md-typeset img,
.md-typeset svg {
    max-width: 95%;
}

/* Tables */

.md-typeset table:not([class]) th {
    min-width: 15rem;
    background-color: #ef5552;
    font-size: medium;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

.table {
    font-size: medium;
}

/* Footer */

.md-footer {
    color: rgb(255, 255, 255);
}

.md-footer__inner a:is(:focus,:hover) {
    color: #fff;
}

.md-footer-meta {
    background-color: #16171d;
}

.md-footer-meta a:is(:focus,:hover) {
    color: #ef5552  !important;
}

/* Cookies Button */
.md-button {
    margin-right: 5px;
}
